:root {
    --off-white: #f5f5f5;
    --dark-grey-bg: #6F7190;
    --dark-grey-bg-comp: #8C8DA6;
    --bg-comp1: #A6A58C;
    --bg-comp2: #908E6F; */
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    background: linear-gradient(#6F7190, #8C8DA6);
}

/* ////////////////////        Nav/Bar Section        ///////////////////////////////////////////////////////////////////////////// */

#header-and-nav {
    height: 10vh;
}

#header {
    width: 100vw;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    padding: 1rem;
    background-color: transparent;
}

.navbar-group {
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    gap: 2.5rem;
}

.navbar-group li {
    list-style: none;
}

.navbar-group a {
    color: var(--off-white);
    text-decoration: none;
    width: 125px;
    text-align: center;
}

/* ////////////////////        Welcome Section        ///////////////////////////////////////////////////////////////////////////// */

#welcome-section {
    height: 90vh;
    text-align: center;
}

.welcome-section-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 2px;
}

.welcome-section-header > h1 {
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-size: 128px;
}

.welcome-section-header > p {
    font-size: 30px;
}

.welcome-section-t {
    color: var(--off-white);
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.welcome-section-header p {
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

/* ////////////////////        Project Section        ///////////////////////////////////////////////////////////////////////////// */

#projects {
    height: 100vh;
}
