:root {
    --off-white: #f5f5f5;
    --dark-grey-bg: #6F7190;
    --dark-grey-bg-comp: #8C8DA6;
    --bg-comp1: #A6A58C;
    --bg-comp2: #908E6F;
    --hdr-text-shadow: rgb(0, 0, 0, 0.2);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    background: linear-gradient(#6F7190, #8C8DA6);
}

/* ////////////////////        Nav/Bar Section        ///////////////////////////////////////////////////////////////////////////// */

#header-and-nav {
    height: 10vh;
}

#header {
    width: 100vw;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    padding: 1rem;
    background-color: transparent;
    text-shadow: 2px 2px 0 var(--hdr-text-shadow);
}

.navbar-group {
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    gap: 2.5rem;
}

.navbar-group li {
    list-style: none;
}

.navbar-group a {
    color: var(--off-white);
    text-decoration: none;
    width: 125px;
    text-align: center;
}

/* ////////////////////        Welcome Section        ///////////////////////////////////////////////////////////////////////////// */

#welcome-section {
    height: 90vh;
    text-align: center;
    color: var(--off-white);
}

.welcome-section-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 2px;
}

.welcome-section-header > h1 {
    font-size: 128px;
    text-shadow: 6px 6px 0px var(--hdr-text-shadow);
}

.welcome-section-header p {
    text-shadow: 4px 4px 0px var(--hdr-text-shadow);
    font-size: 30px;
}

/* ////////////////////        Project Section        ///////////////////////////////////////////////////////////////////////////// */

#projects {
    height: 100vh;
    background-color: var(--off-white);
    color: var(--dark-grey-bg);
}

.project-tile.project-img {
    object-fit: cover;
    widt
}

/* ////////////////////        Keyframes Section        ///////////////////////////////////////////////////////////////////////////// */

