:root {
    /* --orange-main: #FF8D00;
    --orange-light: #FFA433; */
    --blue-prim: #345986;
    --blue-sec: #9ec0e9;
    --off-white: #f5f5f5;
    --dark-grey-bg: #6F7190;
    --dark-grey-bg-comp: #8C8DA6;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body, #welcome-section {
    background: linear-gradient(#6F7190, #8C8DA6);
}

#header {
    width: 100vw;
    position: fixed;    
}

#navbar, #navbar ul {
    display: flex;
}

#navbar {
    justify-content: flex-end;
    align-items: center;
    height: 3.5em;
    background-color: var(--orange-main);
}

#navbar li, #navbar a {
    font-size: large;
    text-decoration: none;
    list-style: none;
    width: 100px;
    text-align: center;
}

.nav-link:hover, .nav-link {
    color: var(--off-white);
}

#welcome-section {
    height: 100vh;
    text-align: center;
}

.welcome-section-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 2px;
    
}

.welcome-section-header > h1 {
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-size: 128px;
    color: var(--blue-prim);
}

.welcome-section-header > p {
    color: var(--blue-sec);
    font-size: 20px;
}

.welcome-section-t {
    margin: 0;
    border: 0;
    padding: 0;
    text-shadow: 0px 0px 4px rgb(48, 48, 48);
}

.white-text-with-blue-shadow {
    text-shadow:
      1px 1px 2px black,
      0 0 1em blue,
      0 0 0.2em blue;
    color: white;
    font:
      1.5em Georgia,
      serif;
  }
  